<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html:charset=UTF-8" />
    <title>장부 웹서비스</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

{{#userName}} <!-- true false 여부 확인(머스타치는 if 문 없음) -->
<a href="/logout" class="btn btn-info active" role="button">Logout</a><!--스프링시큐리티에서 기본적으로 제공하는 로그아웃 url-->
<a href="/admins" class="btn btn-secondary active" role="button">관리자</a>
{{/userName}}